body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.dashboard-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
}

.content-wrapper {
    width: 80%;
    max-width: 900px;
}

.card {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card p {
    font-size: 1em;
    margin-bottom: 5px;
}

.edit-btn,
.logout-btn {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-btn {
    background-color: #000000;
    color: white;
    margin-bottom: 10px;
}

.edit-btn:hover {
    background-color: #000000;
}

.logout-btn {
    background-color: #2b2b2b;
    color: white;
}

.logout-btn:hover {
    background-color: #0a0a0a;
}

form input,
form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    background-color: #2b2b2b;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

form button:hover {
    background-color: #0a0a0a;
}

.hidden {
    display: none;
}

.become-a-member-link {
    color: #0a0a0a;
    font-weight: bold;
}

.success-message {
    color: #155724;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
}

.error-message {
    color: #721c24;
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
    .dashboard-container {
        padding: 10px;
        min-height: auto;
    }

    .content-wrapper {
        width: 95%;
    }

    .edit-btn,
    .logout-btn {
        font-size: 1em;
        padding: 8px;
    }
}
